<p class="lead">Please add another definition to the word <%= @word.spelling() %> below:</p>
<form action="/dictionary/<%= @word.id() %>/add" method="post">
  <div class="form-group">
    <div class="form-inline">
      <label for="type">Word Class:</label>
      <select id="type" name="type" class="form-control" required>
        <option value="">Please Select</option>
        <option value="Noun">Noun</option>
        <option value="Verb">Verb</option>
        <option value="Adjective">Adjective</option>
        <option value="Adverb">Adverb</option>
        <option value="Pronoun">Pronoun</option>
        <option value="Preposition">Preposition</option>
        <option value="Conjunction">Conjunction</option>
        <option value="Determiner">Determiner</option>
        <option value="Exclamation">Exclamation</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <input id="definition" name="definition" type="text" class="form-control" placeholder="Definition" required>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Add</button>
  </div>
</form>
