<p class="lead">Words in your dictionary:</p>
<ul>
  <% if(@words.length().>(0)) %>
    <% @words.each() do |word| %>
      <li><a href="/dictionary/<%= word.id() %>/<%= word.spelling() %>"><%= word.spelling() %></a></li>
    <% end %>
  <% end %>
</ul>
<br>
<a href="/dictionary/add" class="btn btn-default" role="button">Add Word</a>
