<!DOCTYPE html>
<html>
  <head>
    <title>My Personal Dictionary</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 header-box">
          <h1>My Personal Dictionary</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 app-box">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
