body {
  background-color: #738AAF;
}

.app-box, .header-box {
  background-color: #ffffff;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.app-box {
  border-radius: 0px 0px 5px 5px;
  padding: 2em 2em;
}

.header-box {
  padding: 1em 1em;
}

h1 {
  text-align: center;
}

.btn-default {
  background-color: #4D6892;
  color: #ffffff;
}

.btn-default:hover {
  background-color: #B4C3D8;
  color: #4D6892;
}

#word {
  width: 100%;
}

#type {
  width: 60%;
}
